.modal-body {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    margin: "0px auto";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.modal-content {
    width: 100%;
    padding: 16px;
    background-color: #ffffff;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}